*.dill
.filecache
.dart_tool/flutter_build
*.bin
build/ios/Debug-iphonesimulator
build/ios/iphonesimulator
ios/Flutter
.packages
snapshot_blob.bin.d
.packages~master
package_config.json
GoogleAppMeasurement
